* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

.userPage-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 159, 245);
}

    @media only screen and (min-width: 0px) {
        body {
            background-color: rgb(198, 227, 255) !important;
        }
        .userPage-body {
            min-width: 100px;
        }
        .todo-body {
            width: 100%;
            height: 100%;
            background-color: rgb(198, 227, 255);  /*231, 244, 255*/
            /*box-shadow: 0px 0px 10px 1px #555;*/
        }
        .todo-header-mobileFixed, .todo-header-flex {
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, rgb(99, 141, 219), rgb(63, 107, 188), rgb(99, 141, 219));  /*rgb(125, 166, 244), rgb(73, 133, 244), rgb(125, 166, 244)*/
            color: aliceblue;
            font-size: 145%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 1.2px 1.2px 1px #222, -1.2px -1.2px 1px #222, -1.2px 1.2px 1px #222, 1.2px -1.2px 1px #222;
            position: relative;
            z-index: 30;
        }
        .todo-header-mobileFixed {
            position: fixed;
            box-shadow: 0px 0px 10px 1px #222;
            z-index: 20;
        }
        .todo-menu {
            width: 100%;
            height: 120px;
            padding-bottom: 5px;
            position: relative;
            display: grid;
            grid-template-columns: auto;
            gap: 10px;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to bottom, aliceblue, rgb(198, 227, 255));
            border-bottom: 6px solid rgb(63, 107, 188);  /*122, 159, 245*/
            box-shadow: 0px 0px 10px 1px rgba(40,40,40,0.6);
            z-index: 20;
        }
        .todo-menu-imitateToMobile {
            width: 100%;
            height: 120px;
            display: none;
        }
            .guideInfo-box {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                color: #222;
                font-size: 125%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0px;
                border: 0px solid red;
            }
            .inputLine {
                width: 100%;
                height: 30px;
                display: flex;
                border: 0px solid red;
            }
                .input-group {
                    width: 100%;
                    height: 100%;
                    border: 0px solid red;
                }
                    input {
                        height: 100%;
                        outline: none;
                    }
                    .input-text {
                        width: 200px;
                        color: #222;
                        font-weight: 600;
                        border-color: black;
                        border-style: solid;
                        border-width: 2px 1px 2px 2px;
                    }
                    .input-button {
                        width: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(125, 166, 244);
                        border-color: black;
                        border-style: solid;
                        border-width: 2px 2px 2px 1px;
                    }
                    .input-button:hover {
                        cursor: pointer;
                    }
                        .input-button-arrow {
                            width: auto;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(0,0,0,0.0);
                            color: aliceblue;
                            font-family: Arial Black;
                            font-size: 110%;
                            border-style: solid;
                            border-width: 0px 7px 10.5px 7px;
                            border-color: transparent transparent white transparent;
                            transform: rotate(90deg);
                        }
                    .input-textarea {
                        width: 200px;
                        display: none;
                        color: #222;
                        font-weight: 600;
                        border-color: black;
                        border-style: solid;
                        border-width: 2px 1px 2px 2px;
                    }
        .todo-list-mobile {
            width: 100%;
            padding: 30px 30px 10px 30px;
            display: grid;  /* UWAGA: W wersji na desktop: none - height będzie zmien*/
            grid-template-columns: auto;
            /*background-image: linear-gradient(to bottom, rgb(198, 227, 255), aliceblue);*/
            /*border-top: 6px solid rgb(112, 159, 245);*/
            overflow-y: none;
        }
            .todo-list-quest-body {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                background-color: white;
                border-radius: 12px;
                box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
            }
                .quest-baner {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: linear-gradient(to right, rgb(125, 166, 244), rgb(73, 133, 244), rgb(125, 166, 244));  /*112, 159, 245*/
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
                    .quest-arrow-box {
                        width: 20%;
                        height: 100%;
                        padding-left: 20px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: rgba(0,0,0,0.0);
                        border: 0px solid red;
                    }
                        .quest-arrow-proper {
                            width: auto;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(0,0,0,0.0);
                            color: aliceblue;
                            font-family: Arial Black;
                            font-size: 110%;
                            border-style: solid;
                            border-width: 0 10px 15px 10px;
                            border-color: transparent transparent white transparent;
                            transform: rotate(0deg);
                        }
                        .quest-arrow-proper:hover {
                            cursor: pointer;
                        }
                    .quest-remove-box {
                        width: 20%;
                        height: 100%;
                        padding-right: 13px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        background-color: rgba(0,0,0,0.0);
                        border: 0px solid red;
                    }
                        .quest-remove-proper {
                            width: auto;
                            height: auto;
                            background-color: rgba(0,0,0,0.0);
                        }
                            .glyphicon-remove {
                                padding-top: 3.8px;
                                color: rgb(255, 109, 109);
                                font-size: 150%;
                                text-shadow: 1.4px 1.4px 1px #444, -1.4px -1.4px 1px #444, -1.4px 1.4px 1px #444, 1.4px -1.4px 1px #444;
                                text-shadow: 0px 1.4px 1px #444, 0px -1.4px 1px #444, -1.4px 0px 1px #444, 1.4px 0px 1px #444;
                            }
                            .glyphicon-remove:hover {
                                cursor: pointer;
                                color: rgb(255, 142, 142);
                            }
                    .quest-number {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(0,0,0,0.0);
                        color: aliceblue;
                        font-family: Arial Black;
                        font-size: 120%;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-shadow: 1px 1px 1px #222, -1px -1px 1px #222, -1px 1px 1px #222, 1px -1px 1px #222;
                        border: 0px solid red;
                    }
                .quest-title {
                    width: 100%;
                    height: auto;
                    padding: 17px 20px 17px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0,0,0,0.0);
                    color: #222;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 120%;
                    font-weight: 600;
                    text-align: justify;
                    border: 0px solid red;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
                .quest-description {
                    width: 100%;
                    height: auto;  /*auto*/  /*0px*/
                    visibility: visible;  /*visible*/  /*hidden*/
                    margin-top: -0px;  /*-7px*/  /*-3px*/  /*0px*/
                    padding: 0px 20px 17px 20px;    /*0px 20px 17px 20px*/  /*0px*/
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: justify;
                    background-color: rgba(0,0,0,0.0);
                    color: #222;
                    font-size: 100%;
                    font-weight: 600;
                }
        .todo-mobileNavbar {
            width: 100%;
            height: 65px;
            position: fixed;
            bottom: 0px;
            display: fixed;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, rgb(125, 166, 244), rgb(73, 133, 244), rgb(125, 166, 244));  /*112, 159, 245*/
            box-shadow: 0px 0px 10px 1px #222;
            z-index: 20;
        }
    }

    @media only screen and (min-width: 750px) {
        body {
            background-color: rgba(0,0,0,0.0);
        }
        .userPage-body {
            min-width: auto;
        }
        .todo-body {
            width: 70%;
            height: 70%;
            padding: 40px;
            background-color: white;
            border-radius: 25px;
            box-shadow: 0px 0px 10px 1px #555;
        }
            .todo-header-mobileFixed {
                display: none;
            }
            .todo-header-flex {
                width: 100%;
                height: 16%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0,0,0,0.0);
                color: aliceblue;
                font-size: 145%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-shadow: 1.2px 1.2px 1px #222, -1.2px -1.2px 1px #222, -1.2px 1.2px 1px #222, 1.2px -1.2px 1px #222;
            }
            .todo-menu {
                width: 100%;
                height: 11%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: inherit;
                color: #222;
                border-top: 4px solid #e7e7e7;
                border-bottom: 4px solid #e7e7e7;
            }
                .input-textarea {
                    display: none;
                }
            .todo-list-desktop {
                width: 100%;
                height: 73% !important;  /*Nie wiem co przesłania to 'height'...*/
                padding: 30px;
                display: grid;
                grid-template-columns: auto;
                background-image: linear-gradient(to bottom, rgb(198, 227, 255), aliceblue);
                border-top: 6px solid rgb(112, 159, 245);
                border: 0px solid red;
                overflow-y: hidden;
            }
            .todo-mobileNavbar {
                display: none;
            }
    }